#when using a conda env
#conda list --export > requirements.txt


#pip freeze > requirements.txt
#pip install -r requirements.txt

#pip install pipreqs
#pipreqs /home/project/location

pandas==2.2.3
pyyaml==6.0.2
git+https://github.com/essans/gsd.git
#git+https://github.com/essans/gsd.git@v0.1.0
