#when using a conda env
#conda list --export > requirements.txt


#pip freeze > requirements.txt
#pip install -r requirements.txt

#pip install pipreqs
#pipreqs /home/project/location

pandas==2.2.3
pyaml==6.0.2
